<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/img/weather.png" class="icon">
    <title>Help</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>Help From public folder</h1>
    </div>
    {{>footer}}
</body>

</html>